<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%# if can? :read, movie %>
        <%= link_to "Show this movie", movie %>
      <%# end %>
    </p>
  <% end %>
</div>

<%# if can? :create, Post %>
  <%= link_to "New movie", new_movie_path %>
<%# end %>
